{{ $email := promptStringOnce . "email" "What is your email address" }}

{{- $choices := list "personal" "work" "gaming" -}}
{{- $hostType := promptChoiceOnce . "hostType" "What type of host are you on" $choices -}}

[data]
    email = {{ $email | quote }}
    hostType = {{- $hostType | quote -}}

{{ if eq .chezmoi.os "linux" }}
[pinentry]
    command = "pinentry"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
[pinentry]
    command = "pinentry-mac"
{{ end }}