{{ if or (eq .hosttype "personal") (eq .hosttype "work") }}
# Common
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
brew "btop"
brew "chezmoi"
brew "docker", link: false
brew "ffmpeg"
brew "fish"
brew "git"
brew "gnupg"
brew "go"
brew "imagemagick"
brew "nmap"
brew "node"
brew "node@20"
brew "pinentry-mac"
brew "python@3.13"
brew "starship"
brew "uv"
brew "vim"
brew "wget"
brew "yt-dlp"
cask "android-platform-tools"
cask "bitwarden"
cask "bruno"
cask "docker-desktop"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "gimp"
cask "google-chrome"
cask "keka"
cask "kekaexternalhelper"
cask "obsidian"
cask "telegram"
cask "temurin"
cask "utm"
cask "visual-studio-code"
cask "vk-calls"
cask "vlc"
{{ end }}

{{ if eq .hosttype "personal" }}
# Personal
brew "ansible-lint"
brew "ansible"
brew "apktool"
brew "caddy"
brew "docker"
brew "ghidra"
brew "hugo"
brew "typst"
brew "xray"
cask "balenaetcher"
cask "binary-ninja-free"
cask "burp-suite"
cask "calibre"
cask "cyberduck"
cask "discord"
cask "ghidra"
cask "google-drive"
cask "gpg-suite-no-mail"
cask "handbrake-app"
cask "home-assistant"
cask "imhex"
cask "josm"
cask "libreoffice"
cask "logi-options+"
cask "megasync"
cask "moonlight"
cask "openmtp"
cask "qbittorrent"
cask "rustdesk"
cask "secretive"
cask "tailscale-app"
cask "tor-browser"
{{ end }}

{{ if eq .hosttype "work" }}
# Work
cask "android-studio"
cask "burp-suite-professional"
cask "viscosity"
cask "zoom"
{{ end }}