if status is-interactive
    # Commands to run in interactive sessions can go here
end

{{ if eq .hostType "personal" }}
set -x SSH_AUTH_SOCK $HOME/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
fish_add_path $HOME/go/bin
{{ end }}

starship init fish | source
