{{ if eq .chezmoi.os "darwin" }}
# Homebrew
alias bse='brew search'
alias bin='brew install'
alias bup='brew upgrade'
{{ end }}

# Visual Studio Code
function vsc
    if test (count $argv) -gt 0
        code $argv
    else
        code .
    end
end